@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
         padding: 0;
         margin: 0;
         font-family: "Poppins", sans-serif;
}

body {
         background-color: black;
}

.main {
         height: 70vh;
         background-image: url("assets/images/IN-en-20240805-POP_SIGNUP_TWO_WEEKS-perspective_WEB_24a485f6-1820-42be-9b60-1b066f1eb869_small.jpg");
         position: relative;
         background-position: center center;
         background-size: max(1200px, 100vw);
         background-repeat: no-repeat;
}

.main .box {
         height: 70vh;
         width: 100%;
         opacity: 0.69;
         position: absolute;
         top: 0;
         background-color: black;
}

nav {
         display: flex;
         max-width: 60vw;
         margin: auto;
         justify-content: space-between;
         align-items: center;
         height: 62px;
}

nav img {
         color: red;
         width: 145px;
         position: relative;
         z-index: 10;
         padding-top: 25px;
}

nav button {
         position: relative;
         z-index: 10;
}

.hero {
         position: relative;
         height: calc(100% - 62px);
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         color: white;
         font-family: "Martel Sans", sans-serif;
         gap: 23px;
         padding: 0 30px;

}

.hero> :first-child {
         font-weight: 700;
         font-size: 53px;
         text-align: center;
         text-shadow: 0px 3px rgb(247 247 247 / 23%);
}

.hero> :nth-child(2) {
         font-weight: 400;
         font-size: 24px;
         text-align: center;
}

.hero> :nth-child(3) {
         font-weight: 400;
         font-size: 20px;
         text-align: center;
}

.separation {
         height: 7px;
         background-color: rgb(87, 87, 87);
}

.btn {
         padding: 3px 28px;
         font-weight: 400;
         background-color: rgba(248, 243, 243, 0.342);
         color: white;
         border: 1px solid white;
         border-radius: 5px;
         cursor: pointer;
}

.btn-red {
         background-color: red;
         color: white;
         padding: 3px 24px;
         font-size: 24px;
         border-radius: 4px;
         font-weight: 400;
         border: 1px solid red;
}

.btn-red-sm {
         background-color: red;
         color: white;
         padding: 3px 7px;
         font-weight: bold;
         border: 1px solid red;
}

.hero-buttons {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 17px;
}

.main input {
         padding: 7px 101px 8px 14px;
         color: white;
         font-size: 18px;
         font-weight: 900;
         border-radius: 4px;
         background-color: rgba(23, 23, 23, 0.68);
         border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
         display: flex;
         justify-content: center;
         max-width: 70vw;
         margin: auto;
         color: white;
         align-items: center;
         gap: 15px;
         ;
         padding: 50px 30px;
}

.first>div :first-child {
         display: flex;
         flex-direction: column;
         font-size: 48px;
         font-weight: bolder;
}

.first>div :nth-child(2) {
         font-size: 24px;
         font-weight: bolder;
}


.sec_img {
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
}

.sec_img img {
         width: 30vw;
         position: relative;
         z-index: -1;
         overflow: hidden;
         /* box-shadow: 0 0 10px rgba(247, 247, 247, 0.5); */
}

.sec_img video {
         position: absolute;
         width: 23vw;
         z-index: -2;
}

.third .sec_img video {
         top: 31px;
         width: 19.8vw;
}

.faq {
         background: black;
         color: white;
         padding: 34px;
}

.faq h2 {
         text-align: center;
         font-size: 48px;
         font-weight: 700;
         text-shadow: 0px 4px rgb(247 247 247 / 23%);
}

.faqbox {
         transition: all 1s ease-out;
         display: flex;
         color: white;
         padding: 24px;
         background-color: rgba(61, 61, 61, 0.795);
         width: 60vw;
         margin: 24px auto;
         justify-content: space-between;
         align-items: center;
         cursor: pointer;
         box-sizing: border-box;
}

.faqbox:hover {
         background-color: #414141;
         border-radius: 10px;
}

.faqbox span {
         font-size: 24px;
         font-weight: 400;
}

.faqbox img {
         width: 32px;
}


footer {
         padding: 34px;
         margin: auto;
         max-width: 60vw;
         color: white;
}

.questions {
         padding: 34px 0;
}

.foo {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
         color: white;
         max-width: 60vw;
         margin: auto;
}

.footer-Item {
         display: flex;
         flex-direction: column;
         gap: 15px;
}

.footer-Item a {
         color: white;
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
         nav {
                  flex-direction: column;
                  align-items: center;
                  max-width: 100%;
                  height: auto;
         }

         .hero {
                  padding: 0 15px;
         }

         .hero> :first-child {
                  font-size: 36px;
         }

         .hero> :nth-child(2) {
                  font-size: 18px;
         }

         .hero> :nth-child(3) {
                  font-size: 16px;
         }

         .btn {
                  padding: 3px 14px;
         }

         .btn-red {
                  padding: 3px 12px;
                  font-size: 18px;
         }

         .btn-red-sm {
                  padding: 3px 5px;
         }

         .hero-buttons {
                  flex-direction: column;
                  gap: 10px;
         }

         .first {
                  flex-direction: column;
                  padding: 30px 15px;
         }

         .first>div :first-child {
                  font-size: 36px;
                  padding: 25px 0;
         }

         .first>div :nth-child(2) {
                  font-size: 18px;
         }

         .sec_img img {
                  width: 80vw;
         }

         .sec_img video {
                  width: 60vw;
         }


         .third .sec_img {
                  position: relative;
                  display: flex;
                  justify-content: center;
                  align-items: center;
         }

         .third .sec_img img {
                  width: 100%;
                  height: auto;
                  max-width: 300px;
                  /* Adjust as needed */
         }

         .third .sec_img video {
                  position: absolute;
                  width: 80%;
                  height: auto;
                  max-width: 240px;
                  /* Adjust as needed */
                  z-index: -1;
                  top: 10%;
                  /* Adjust as needed */
                  left: 10%;
                  /* Adjust as needed */
         }

         .faqbox {
                  width: 70vw;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
         }

         .faqbox span {
                  font-size: 20px;
         }

         .faqbox img {
                  width: 24px;
         }

         footer {
                  max-width: 90vw;
         }

         .foo {
                  grid-template-columns: 1fr 1fr;
         }

         .footer-Item {
                  gap: 10px;
         }
}